<footer id="contact" class="contact container-fluid paddingLR60 wp7">
		<div class="row">
				<h1 class="att-header uppercase fg-blueish-white margin-left-10">Contato</h1>
				<div class="col-md-6">
						<form id="contact-form" class="contact-form">
								<label for="name" class="clabel">Nome</label>
								<input id="name" name="name" type="text" required />
								<label for="email" class="clabel">E-mail</label>
								<input type="email" name="email" id="email" required />
								<label for="message" class="clabel">Mensagem</label>
								<textarea id="message" name="message"></textarea>
								<br />

								<button class="progress-button" data-style="rotate-angle-bottom" data-perspective data-horizontal id="contact-submit">Enviar</button>

								<p>
										<label class="label label-success fontsize18 hidden" id="successlabel">Obrigado, seu email foi enviado com sucesso!</label>

								</p>
								<br />
								<p class="label label-danger padding10 fontsize14 hidden" id="errorlabel" style="font-weight: 400;">
										Ops, ocorreu um erro ao enviar o email. Se você preferir pode enviar um email diretamente para <a style="color:white;font-size:14px;" href="mailto:contato@lzadv.com.br">contato@lzadv.com.br</a>.
								</p>
						</form>
				</div>
				<br />
				<div class="col-md-6">
						<hr />
						<address>
								Endereço: Rua General Liberato Bitencourt, 1885, Sala 501 <br /> Centro Executivo Imperatriz -  Estreito, Florianópolis/SC.
						</address>


						<p>
								<img height="17" width="12" src="../../img/phone.png"> +55 48 3028-7144 | <img src="../../img/arroba.png" height="17" width="17"> contato@lzadv.com.br
						</p>
						<p>
								<a href="https://goo.gl/maps/II4AT" target="_blank"><img src="../../img/pin.png" height="18" width="14" /> Localização</a>
						</p>
						<div class="margin-top-30">
								<ul class="list-inline">
										<li>
												<a href="http://twitter.com/LZAdv" target="_blank">
														<img src="../../img/twitter.png" alt="Twitter" />
												</a>
										</li>
										<li>
												<a href="http://www.facebook.com/LZAdv" target="_blank">
														<img src="../../img/facebook.png" alt="Facebook" />
												</a>
										</li>
										<li>
												<a href="http://www.linkedin.com/company/2900624?trk=tyah" target="_blank">
														<img src="../../img/linkedin.png" alt="" />
												</a>
										</li>
										<li><a href="http://www.youtube.com/channel/UCp5nUbCGI-s5U0SumBtqQvw?feature=mhee" target="_blank"><img src="../../img/youtube.png" alt="" /></a></li>
										<li class="hidden"><a href="http://lzadv.wordpress.com/" target="_blank"><img src="../../img/wordpress.png" alt="" /></a></li>

								</ul>

						</div>

						<div class="margin-top-30">
								<a href="http://www.siteadv.com.br/lzadv/Restrito/Login.aspx?Folder=lzadv" target="_blank" class="client" id="restricted">
										<img src="~/img/client.png" alt="Ícone" class="hidden" /><i class="fa fa-user"></i> Espaço do cliente
								</a>


								<a href="http://lobo.themisweb.com.br:8080/themismobile" class="client" id="restricted-mobile" hidden target="_blank"><img src="~/img/client.png" alt="Ícone" /> Espaço do cliente </a>
						</div>

						<div class="margin-top-30">
								<a href="#" target="_blank" data-toggle="modal" data-target="#login-modal" class="client">
										<i class="fa fa-user"></i> Área restrita
								</a>
						</div>
				</div>
		</div>
</footer>
