<header>
		<div class="container">
				<div class="row ">
						<div class="responsive-logo"></div>
						<div class="pullcontainer">
								<a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
						</div>
				</div>
				<div class="row">
						<div class="col-md-12">
								<div class="logo-holder"></div>
								<nav class="main-nav">
										<ul class="clearfix">
												<li>
														<a href="#att" class="att-menu">Advogados</a>
												</li>
												<li>
														<a href="#work" class="work-menu">Áreas de Atuação</a>
												</li>
												<li>
														<a href="#us" class="about-menu">Sobre Nós</a>
												</li>
												<li>
														<a href="#media" class="media-menu r-spacer">Mídia</a>
												</li>
												<li>
														<a href="#news" class="news-menu">Publicações</a>
												</li>

												<li>
														<a href="#contact" class="contact-menu">Contato</a>
												</li>
												<li>
														<ul class="flags">
																<li>
																		<a href="/Home/IndexEN" class="en" title="English">
																				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																		</a>
																</li>
																<li>
																		<a href="/Home/IndexFR" class="fr" title="Français">
																				&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
																		</a>
																</li>
														</ul>
												</li>
										</ul>
								</nav>

						</div>
				</div>

				<div class="row"><div class="col-md-12 heighter">&nbsp;</div></div>
				<div class="row hidden">
						<div class="col-md-10 col-md-offset-1 text-center">
								<div class="quote">
										<q>"A justiça é a primeira virtude das instituições sociais, como a verdade o é dos sistemas de pensamento"</q>
										<br />
										<q>John Rawls</q>
										<div class="quote-button text-center"><a href="#us" class="ico_btn-home"></a></div>
								</div>
						</div>
				</div>
		</div>
</header>
