<div class="menu-wrap">
		<nav class="menu">
				<div class="text-center margin-bottom-30">
						<img src="~/img/logo-gray-single.png" />
				</div>
				<div class="icon-list">
						<a href="#att" class="att-menu"><span>Advogados</span></a>
						<a href="#work" class="work-menu"><span>Áreas de Atuação</span></a>
						<a href="#us" class="about-menu"><span>Sobre Nós</span></a>
						<a href="#media" class="media-menu"><span>Mídia</span></a>
						<a href="#news" class="news-menu"><span>Publicações</span></a>
						<a href="#contact" class="contact-menu"><span>Contato</span></a>
				</div>
		</nav>
</div>
