		<!-- Login modal for blog -->

<div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
		<div class="modal-dialog login-modal">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
								<h3 id="login-modal-label">Login</h3>
						</div>
						<div class="modal-body">
								<form id="login-form" class="form-inline text-center">
										<div class="form-group">
												<label for="username">E-mail</label>
												<input type="email" id="username" name="username" required />
										</div>
										<div class="form-group">
												<label for="password">Senha</label>
												<input type="password" id="password" name="password" required />
										</div>
										<button class="login-progress-button btn btn-default btn-sm" type="submit" data-style="rotate-angle-bottom" data-perspective data-horizontal id="login-submit">Entrar</button>
								</form>
						</div>
						<div class="modal-footer"></div>
				</div>
		</div>
</div>

<!-- Modal -->
<div id="dir-adu-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DAModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content higher-modal">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
								<h3 id="DAModalLabel">Direito Aduaneiro</h3>
						</div>
						<div class="modal-body">

								<ul class="page3list">
										<li>
												Assessoria jurídica e consultoria permanente;
										</li>
										<li>Consultoria na identificação dos temas que afetam a competitividade na importação e exportação;</li>
										<li>Assessoria na classificação fiscal de mercadorias e em matéria de valoração aduaneira;</li>
										<li>
												Orientação jurídica acerca dos procedimentos necessários para habilitação e revisão no RADAR/SISCOMEX;
										</li>
										<li>
												Planejamento tributário nas operações de comércio exterior, incluindo análise, negociação e pedido de concessão de regimes aduaneiros especiais (drawback, admissão temporária, entreposto aduaneiro), benefícios e demais incentivos fiscais;
										</li>
										<li>
												Elaboração de contratos, documentos e registros relacionados a operações de importação e exportação;
										</li>
										<li>
												Assessoria e consultoria em questões relacionadas ao financiamento à exportação, seguro de crédito à exportação, tributação, transporte internacional e compras governamentais;
										</li>
										<li>
												Acompanhamento em procedimentos de fiscalização;
										</li>
										<li>
												Atuação em processos de defesa comercial (processos de antidumping, salvaguardas e medidas compensatórias);
										</li>
										<li>
												Assistência jurídica na área contenciosa aduaneira envolvendo questões relativas ao comércio exterior, tanto na esfera administrativa quanto na judicial;
										</li>
										<li>Liberação de mercadorias apreendidas.</li>

								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
						</div>
				</div>
		</div>
</div>

<div id="dir_maritModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DMModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content higher-modal">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
								<h3 id="DMModalLabel">Direito Marítimo</h3>
						</div>
						<div class="modal-body">
								<ul class="page3list">
										<li>Consultoria e assessoria jurídica permanente na regulação marítima;</li>
										<li>Representação e aconselhamento junto a ANTAQ e ao Tribunal Marítimo;</li>
										<li>Constituição e registro de empresas de navegação, NVOCC, etc.;</li>
										<li>
												Registro de armador e embarcações junto ao Registro Especial Brasileiro (REB);
										</li>
										<li>
												Atuação jurídica em disputas judiciais e administrativas em relação ao direito marítimo;
										</li>
										<li>Auxílio em casos de arresto preventivo de navios;</li>
										<li>
												Elaboração de contratos de transporte, cartas partidas e contratos de fretamento de grandes volumes (COAs);
										</li>

										<li>Auxílio na compra e venda e no financiamento de embarcações;</li>
										<li>Consultoria em convenções e acordos internacionais;</li>
										<li>Assessoria e consultoria em atos administrativos dos órgãos reguladores;</li>
										<li>Demurrage de navios;</li>
										<li>
												Defesa de demurrage de containers, liberação de containers retidos, avarias, armazenagem
												de mercadorias etc;
										</li>
										<li>Consultoria a armadores internacionais;</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
						</div>
				</div>
		</div>
</div>
<div class="modal fade" id="dir_empresModal" tabindex="-1" role="dialog" aria-labelledby="DEModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content higher-modal">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
								<h4 class="modal-title" id="DEModalLabel">Direito Empresarial</h4>
						</div>
						<div class="modal-body">

								<ul class="page3list">
										<li>Assessoria jurídica e consultoria permanente;</li>
										<li>Elaboração, negociação, execução de contratos, estatutos, acordos, regimentos, regulamentos e demais documentos empresariais;</li>
										<li>Assessoria na instalação de empresas estrangeiras no Brasil;</li>
										<li>
												Constituição e estruturação societária;
										</li>
										<li>
												Realização de palestras e seminários in company sobre temas que envolvam as atividades empresariais;

										</li>
										<li>Acompanhamento e representação em reuniões, comitês de credores e assembleias; </li>
										<li>Assessoria jurídica nos processos de fusões, aquisições de empresas, incorporações, cisões, joint venture, transferência de ativos e participações societárias, inclusive envolvendo empresas estrangeiras;</li>
										<li>Assistência jurídica e acompanhamento processual de empresas nacionais perante jurisdições estrangeiras;</li>
										<li>Patrocínio e defesa de ações judiciais e processos administrativos acerca da responsabilidade dos sócios;</li>
										<li>Assistência jurídico-penal a vítimas de fraudes corporativas com a orientação e proposição de medidas legais cabíveis;</li>
										<li>Assessoria e consultoria jurídica na elaboração, análise e negociação de todos os instrumentos legais voltados às operações imobiliárias e regularização de imóveis;</li>
										<li>Assistência jurídica relativa à transferência de tecnologia.</li>
								</ul>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
				</div>
		</div>
</div>
<div class="modal fade" id="dir_trabModal" tabindex="-1" role="dialog" aria-labelledby="DTModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content higher-modal">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
								<h4 class="modal-title" id="DTModalLabel">Direito do Trabalho e Previdenciário</h4>
						</div>
						<div class="modal-body">
								<p>&nbsp;</p>
								<ul class="page3list">
										<li>Assessoria jurídica e consultoria permanente;</li>
										<li>Realização de seminários in company;</li>
										<li>Elaboração de pareceres e material para treinamento sobre a correta aplicação da legislação trabalhista e condutas a serem implementadas pela empresa;</li>
										<li>Confecção de relatórios due diligence;</li>
										<li>Apuração e avaliação dos riscos inerentes ao processo produtivo, por meio de auditorias in loco, e apresentação de medidas preventivas e soluções;</li>
										<li>Acompanhamento a procedimentos, fiscalizações e autuações;</li>
										<li>Propositura de ações trabalhistas individuais ou coletivas, em todas as instâncias;</li>
										<li>Participação, condução e mediação de negociações e acordos.</li>

								</ul>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
				</div>
		</div>
</div>
<div class="modal fade" id="dir_tributModal" tabindex="-1" role="dialog" aria-labelledby="DTModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content higher-modal">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
								<h4 id="DTModalLabel">Direito Tributário</h4>
						</div>
						<div class="modal-body">
								<ul class="page3list">
										<li>
												Assessoria jurídico-tributária permanente;
										</li>
										<li>Pareceres jurídicos e realização de seminários sobre a interpretação e aplicação da legislação tributária;</li>
										<li>
												Formulação e encaminhamento de consultas aos órgãos da administração pública fiscal;
										</li>
										<li>
												Planejamento tributário;
										</li>
										<li>
												Operações específicas e rotineiras visando à redução lícita da carga tributária;
										</li>
										<li>
												Assessoria em questões relacionadas à obtenção de incentivos fiscais e regimes especiais;
										</li>
										<li>
												Assistência jurídica e acompanhamento em procedimentos fiscalizatórios;

										</li>
										<li>
												Elaboração de defesas e recursos em processos administrativos e judiciais;
										</li>
										<li>Patrocínio de ações tributárias e condução de processos na esfera administrativa e judicial questionando a exigência de tributos;</li>

										<li>Avaliação de passivos tributários por meio da realização de due diligences;</li>
										<li>
												Orientação fiscal aos clientes para a sustentação de lançamentos contábeis em caso
												de fiscalização por parte das autoridades fazendárias;
										</li>
										<li>
												Identificação e auxílio jurídico na recuperação de créditos tributários;
										</li>

								</ul>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
				</div>
		</div>
</div>
<!-- Modal -->
<div class="modal fade" id="dir_interModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		<div class="modal-dialog">
				<div class="modal-content higher-modal">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
								<h4 class="modal-title" id="DIModalLabel">Direito Internacional</h4>
						</div>
						<div class="modal-body">

								<ul class="page3list">
										<li>Assessoria jurídica permanente em Direito Internacional;</li>
										<li>Arbitragens comerciais e internacionais </li>
										<li>Arbitragens comerciais internacionais, operações financeiras e de investimentos estrangeiros;</li>
										<li>
												Homologação de sentenças estrangeiras e registro de atos realizados no exterior;
										</li>
										<li>Orientação jurídica e assistência legal em assuntos de natureza migratória, como pedidos de permanência, deportação, expulsão, extradição e anistia;</li>
										<li>Assessoria na obtenção de cidadania estrangeira, com a pertinente orientação, análise e preparação de documentos; </li>
										<li>Representação dos interesses do cliente junto a consulados ou embaixadas.</li>

								</ul>
						</div>
						<div class="modal-footer">
								<button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
						</div>
				</div>
		</div>
</div>


<div id="end" class="modal fade" tabindex="-1">
		<div class="modal-dialog">
				<div class="modal-content">
						<div class="modal-header">
								<button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>

						</div>
						<div class="modal-body text-center">

								<img src="../../img/end.jpg" alt="" style="margin:0 auto;" />

						</div>
						<div class="modal-footer">

						</div>
				</div>
		</div>
</div>
