<li class="att-wrapper">
		<div class="row">
				<div class="col-md-4">
						<div class="adv-img-wrapper">
								<img src="../../img/brn.png" alt="[Foto] Bruno Eduardo Budal Lobo" />
						</div>
				</div>
				<div class="col-md-6 col-md-offset-1 att-desc">
						<h1 class="att-title">Bruno Eduardo Budal Lobo</h1>
						<span class="att-subtitle">OAB/SC 30.059</span>
						<p>
								Bacharel em Direito pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.
						</p>
						<p>Especialista em Direito Aduaneiro e Comércio Exterior pela Universidade do Vale do Itajaí - UNIVALI.</p>
						<p>Formado no Curso de Formação de Despachante Aduaneiro pela Associação Brasileira de Comércio Exterior - ABRACOMEX.</p>
						<p>Pós-graduando em Direito Processual Civil pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.</p>
						<p>Palestrante e autor de artigos em publicações especializadas, inclusive do livro ‘Direito Marítimo, Regulação e Desenvolvimento’ (Ed. Forum, 2011).</p>
						<p>Idiomas: Português e inglês.</p>
						<p>
								<a href="mailto:bruno@lzadv.com.br">bruno@lzadv.com.br</a>
						</p>
				</div>
		</div>
</li>
