<nav class="sticky-menu">
		<ul class="clearfix">
				<li>
						<a href="#att" class="att-menu">Advogados</a>
				</li>
				<li>
						<a href="#work" class="work-menu">Áreas de Atuação</a>
				</li>
				<li>
						<a href="#us" class="about-menu">Sobre Nós</a>
				</li>
				<li>
						<a href="#media" class="media-menu">Mídia</a>
				</li>
				<li>
						<a href="#news" class="news-menu">Publicações</a>
				</li>

				<li>
						<a href="#contact" class="contact-menu">Contato</a>
				</li>
				<li>
						<div class="sticky-flags">
								<div>
										<a href="/Home/IndexEN" class="sticky-en" title="English">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</a>
								</div>
								<div>
										<a href="/Home/IndexFR" class="sticky-fr" title="Français">
												&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
										</a>
								</div>
						</div>
				</li>
		</ul>
</nav>
