<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobo & Vaz Law Office</title>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.min.css" rel="stylesheet">
    <link href="../../css/styles.css?v=1.2" rel="stylesheet">
    <link href="../../css/queries.css?v=1.2" rel="stylesheet">
    <link rel="stylesheet" href="../../css/flexslider.css?v=1.2" type="text/css">
    <link rel="stylesheet" href="../../css/grid.css" type="text/css">
    <link rel="stylesheet" href="../../css/submitButton.css" type="text/css">
    <link href="~/css/scrollToTop.css" rel="stylesheet" />
    <link href="~/css/easing.css" rel="stylesheet" />
    
    <link rel="stylesheet" href="../../css/animate.css" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
    <div class="main">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="icon-list">

                    <a href="#att" class="att-menu"><span>Lawyers</span></a>
                    <a href="#work" class="work-menu"><span>Expertise</span></a>
                    <a href="#us" class="about-menu"><span>About Us</span></a>
                    <a href="#news" class="news-menu"><span>Publications</span></a>
                    <a href="#contact" class="contact-menu"><span>Contact Us</span></a>
                </div>
            </nav>
        </div>

        <button class="menu-button hidden" id="open-button"></button>

        <div class="content-wrap ">
            <div class="content">
                <header>
                    <div class="container">
                        <div class="row">
                            <div class="responsive-logo"></div>
                            <div class="pullcontainer">
                                <a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="logo-holder"></div>
                                <nav>
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#att" class="en-menu att-menu" >Lawyers</a>
                                        </li>
                                        <li>
                                            <a href="#work" class="work-menu">Expertise</a>
                                        </li>
                                        <li>
                                            <a href="#us" class="about-menu">About Us</a>
                                        </li>
                                        <li>
                                            <a href="#news" class="r_spacer news-menu">Publications</a>
                                        </li>
                                        <li>
                                            <a href="#contact" class="contact-menu">Contact Us</a>
                                        </li>
                                        <li>
                                            <ul class="flags ">
                                                <li class="li-en">
                                                    <a href="/Home/Index" class="br" title="Português">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/IndexFR" class="fr" title="Français">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                    <div class="row"><div class="col-md12 heighter">&nbsp;</div></div>
                    <div class="row">
                        <div class="col-md-10 col-md-offset-1 text-center">
                            <div class="quote">
                                <q>"Justice is the first virtue of social institutions, as truth is of systems of thought"</q>
                                <p>John Rawls</p>
                                <div class="quote-button text-center"><a href="#us" class="ico_btn-home"></a></div>
                            </div>
                        </div>
                    </div>
                </header>
                <section class="att-container" id="att">
                    <div class="container-fluid">
                        <div class="row wp2">
                            <h1 class="att-header">Lawyers</h1>
                            <hr class="line" />
                            <div class="flexslider">
                                <ul class="slides">
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/brn.png" alt="[Foto] Bruno Eduardo Budal Lobo" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Bruno Eduardo Budal Lobo</h1>
                                                <span class="att-subtitle">Member of the Brazilian Bar Association - OAB/SC 30.059</span>
                                                <p>
                                                    Born in Joinville/SC, Brazil.
                                                </p>
                                                <p>
                                                    Law degree by the Complex of Higher Education of Santa Catarina - CESUSC.
                                                </p>
                                                <p>Post Graduated in Customs Law and International Trade by the University of the Valley of Itajaí - UNIVALI.</p>
                                                <p>Graduated as Customs Broker by the Brazilian Consultancy Association - ABRACOMEX.</p>

                                                <p>Languages: Portuguese and english.</p>
                                                <p>
                                                    <a href="mailto:bruno@lzadv.com.br">bruno@lzadv.com.br</a>
                                                    

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/brc.png" alt="[Foto] Bruce Bastos Martins" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Bruce Bastos Martins</h1>
                                                <span class="att-subtitle">Member of the Brazilian Bar Association - OAB/SC 32.471</span>
                                                <p>
                                                    Born in Florianópolis/SC, Brazil.
                                                </p>

                                                <p>
                                                    Law degree by the Complex of Higher Education of Santa Catarina - CESUSC.
                                                </p>
                                                <p>
                                                    Post Graduated in Tax Law by the Brazilian Institute of Tax Studies - IBET.
                                                </p>
                                                <p>
                                                    Post Graduated in Customs Law and International Trade by the University of the Valley of Itajaí - UNIVALI.
                                                </p>
                                                <p>
                                                    Professor of Tax Law and author of articles in specialized magazines.
                                                </p>
                                                <p>
                                                    Languages: Portuguese, english and french.
                                                </p>
                                                <p>
                                                    <a href="mailto:bruce@lzadv.com.br">bruce@lzadv.com.br</a>
                                                    

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/rfl.png" alt="[Foto] Rafael Medeiros Popini Vaz" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Rafael Medeiros Popini Vaz</h1>
                                                <span class="att-subtitle">Member of the Brazilian Bar Association - OAB/SC 34.782</span>
                                                <p>
                                                    Born in Florianópolis/SC, Brazil.
                                                </p>
                                                <p>
                                                    Law degree by the Complex of Higher Education of Santa Catarina - CESUSC
                                                </p>
                                                <p>Post Graduated in Customs Law and International Trade by the University of the Valley of Itajaí - UNIVALI</p>

<p>
                                                    Post Graduated in Labor Law by th Complex of Higher Education of Santa Catarina - CESUSC
                                                </p>
                                                <p>
                                                    Languages: Portuguese, french, and english.
                                                </p>
                                                <p>
                                                    <a href="mailto:rafael@lzadv.com.br">rafael@lzadv.com.br</a>
                                                    

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-lg-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/gbrl.png" alt="[Foto] Gabriel Souto Silva" />
                                                </div>
                                            </div>
                                            <div class="col-lg-6 col-lg-offset-1 att-desc">
                                                <h1 class="att-title">Gabriel Souto Silva</h1>
                                                <span class="att-subtitle"> Member of the Brazilian Bar Association - OAB/SC 31.344</span>
                                                <p>Born in Florianópolis/SC, Brazil.</p>

                                                <p>
                                                    Law degree by the Complex of Higher Education of Santa Catarina - CESUSC.
                                                </p>
                                                <p>
                                                    Post Graduated in Customs Law and International Trade by the University of the Valley of Itajaí - UNIVALI
                                                </p>
<p>
                                                    Accountant-technician formed by the National Commercial Training Service - SENAC.
                                                </p>
                                                <p>Languages: Portuguese and english.</p>
                                                <p>
                                                    <a href="mailto:gabriel@lzadv.com.br">gabriel@lzadv.com.br</a>
                                                    

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    
                                </ul>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container-fluid work">
                    <div class="row">
                        <div class="col-lg-12 section-1" id="work">
                            <div class="wp3 section-text">
                                <h2>Expertise</h2>
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <img src="../../img/adu.png" alt="[Foto] Direito Aduaneiro" />
                                        <figcaption>
                                            <h3>Customs Law</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Lobo &amp; Vaz Law Office has extensive knowledge in customs relations, as a result of the academic training and professional experience of its lawyers. We provide security and present solutions through our legal assistance to companies operating in the foreign trade field, either for preventive law as in litigation.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-trab.png" alt="[Foto] LABOR AND WELFARE LAW" />
                                        <figcaption>
                                            <h3>LABOR AND WELFARE LAW</h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                The professional staff at Lobo &amp; Vaz Law Office is notable for their specialization in Labor and Welfare Law, providing all necessary legal advice on labor issues with safety and promptness. Our lawyers provides services in consultancy and litigation.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-mar.png" alt="[Foto] Direito Marítimo" />
                                        <figcaption>
                                            <h3>Maritime <span>Law</span></h3>
                                            <div class="fx-icon"></div>
                                            <p class="fontsize14">
                                                @*Lobo &amp; Vaz Law Office has outstanding performance in several areas of maritime law, serving the legal needs of investors, Brazilian and foreign cargo and passengers transport companies, port authorities, boats owners and related corporations, such as service and logistics providers.
                                                <br />*@
                                                Our team specializes in business practices, legal requirements, insurance risks and financial aspects relating to the maritime sector. Located in the city of Florianópolis/SC, near major port cities of the country, the Lobo &amp; Vaz Law Office is able to provide our services efficiently and quickly.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-trib.png" alt="[Foto] Direito Tributário" />
                                        <figcaption>
                                            <h3>Tax <span>Law</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Lobo &amp; Vaz Law Office relies on specialized professionals with extensive experience in several fields of Tax Law.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-emp.png" alt="[Foto] Direito Empresarial" />
                                        <figcaption>
                                            <h3>Business <span>Law</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Lobo &amp; Vaz Law Office provides assistance on planning, elaboration and execution of all types of commercial contracts, as well as cautionary advice and expertise in cases involving contract disputes. Nevertheless, we sponsor with diligence and dedication the judicial and extrajudicial measures of our clients’ interest.
                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-int.png" alt="[Foto] Direito Internacional" />
                                        <figcaption>
                                            <h3>International <span>Law</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                Lobo &amp; Vaz Law Office provides a number of legal services related to International Law.
                                            </p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container-fluid about wp4" id="us">
                    <div class="row">
                        <div class="col-lg-12 section-3">
                            <div class="logo-3 wp3"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 section-text">
                            <div class="wp6">
                                <p class="paddingLR60">
                                    We have as our foundation a customized form of working, where growth cannot override primacy. Founded in 2010 and duly enrolled in the Brazilian Bar Association (OAB/SC nº 1.783/2010), Lobo & Vaz Law Office resulted from the union of knowledge, experience and common goals of our partners, who value the excellence of their legal services, especially in the areas of Customs Law, Labor and Welfare Law, Tax Law, Business Law, Maritime Law and International Law.
                                </p>
                                <p class="paddingLR60">Our legal body is formed by specialized professionals, focused on the support of our clients in the legal area, with direct involvement in the development and monitoring of works aimed at preventive law and litigation.</p>
                                <p class="paddingLR60">With agility, versatility and independence, we provide creative, effective and secure solutions for our clients. In all our decisions we cultivate and preserve the inherent ethical principles to the law practice while we maintain our avant-garde approach and boldness.</p>
                                <!--        <div class="thin-sep"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-lg-12 section-text">
                            <div class="wp4">
                                <h3 class="text-center">The ethical-legal phenomenon</h3>
                                <h4 class="text-center">Logical-semantic introduction</h4>
                                <p class="paddingLR60">
                                    Values: values are our significations, products of our affections as a corporation, means of valuing the advocacy.
                                </p>
                                <p class="paddingLR60">Vision: such a complex evaluative combination can largely produce the energy of our potency, potency to exist and act, allowing us a glimpse of the phenomena and thereby construct our reality.  </p>
                                <p class="paddingLR60">Mission: from our vision, our values beam, we launch ourselves out of our body through a noetic-noematic process, forging our missions in support of our customers, revealing the ethical-legal phenomenon of our office.</p>
                                <!--        <div class="thin-sep"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row paddingLR60">
                        <div class="col-md-4 section-text">
                            <h2>Values</h2>
                            <ul class="list-unstyled values-list">
                                <li>
                                    Conviction : always take position towards doubt;
                                </li>
                                <li>
                                    Responsibility : Take responsibility for the position presented;
                                </li>
                                <li>
                                    Union : action and conflict analyzes always in partnership/association with the client;
                                </li>
                                <li>
                                    Security : by all means provide the maximum legal certainty;
                                </li>
                                <li>
                                    Agility : act swiftly and forcefully.
                                </li>

                            </ul>
                           
                        </div>
                        <div class="col-md-4 section-text">
                            <h2>Mission</h2>

                            <p>The corporate inseparability, becoming a committed and effective extension of liability to our client, always resolving legal conflicts, current and future.</p>
                        </div>
                        <div class="col-md-4 section-text">
                            <h2>Vision</h2>
                            <p>Accomplish a new way to deliver attorney's services.</p>

                        </div>
                    </div>
                </section>
                <div class="about-news-split wp5">
                </div>
                <span id="news" class="margin-top15"></span>
                <section class="container-fluid news paddingLR60">
                    <div class="row">
                        <div class="col-md-6" id="news-column">
                            <h2>Newsletters (only in portuguese)</h2>
                        </div>
                        <div class="col-md-6">
                            <h2>@*<img src="../../img/file-dl.png" height="56" width="45" />*@ Articles (only in portuguese)</h2>
                            <div class="article-list hidden">
                                <div class="panel-group" id="accordion">
                                    <!--ADUANEIRO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseAdu">
                                                Direito Aduaneiro

                                            </h2>
                                        </div>
                                        <div id="collapseAdu" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <a target="_blank" href="artigos/aduaneiros/importacao/PIS%20E%20COFINS%20NA%20IMPORTAÇÃO%20PARA%20EMPRESAS%20OPTANTES%20PELO%20LUCRO%20PRESUMIDO.pdf">PIS e COFINS na importação para empresas optantes pelo lucro presumido</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="artigos/aduaneiros/importacao/EXCLUSÃO%20DO%20ICMS%20E%20CONTRIBUIÇÕES%20SOCIAIS%20DA%20BASE%20DE%20CÁLCULO%20DO%20PIS%20E%20COFINS%20INCIDENTE%20NA%20IMPORTAÇÃO.pdf">Exlcusão do ICMS e contribuições sociais da base de cálculo do PIS e COFINS incidente na importação</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="artigos/aduaneiros/importacao/A%20POSSIBILIDADE%20DA%20CAUÇÃO%20PECUNIÁRIA%20PARA%20A%20LIBERAÇÃO%20DE%20MERCADORIA%20RETIDA%20NO%20PROCEDIMENTO%20ESPECIAL%20DE%20CONTROLE.pdf">
                                                            A possibilidade da caução pecuniária para a liberação de
                                                            mercadoria retida no procedimento especial de controle – uma análise da instrução
                                                            normativa da Receita Federal do Brasil nº 1.169/2011 de 29 de junho de 2011.
                                                        </a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TRIBUTARIO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTrib">
                                                Direito Tributário
                                            </h2>
                                        </div>
                                        <div id="collapseTrib" class="panel-collapse collapse">
                                            <!-- Federais-->
                                            <div class="panel panel-default panel-padding ">
                                                <div class=" panel-heading-sm">
                                                    <h4 data-toggle="collapse" data-parent="#collapseTrib" data-target="#collFederal" class="panel-title cursor-hand">
                                                        Federais
                                                    </h4>
                                                </div>
                                                <div id="collFederal" class="panel-collapse collapse">
                                                    <p class="text-left">Contribuição Previdenciária Patronal (INSS)</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/inss/CONTRIBUIÇÃO%20SOBRE%20VERBAS%20QUE%20NÃO%20SE%20DESTINEM%20RETRIBUIR%20O%20TRABALHO.pdf">Contribuição sobre verbas que não se destinam a retribuir o trabalho</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/inss/NÃO%20INCIDÊNCIA%20DA%20CONTRIBUIÇÃO%20PREVIDENCIÁRIA%20PATRONAL%20SOBRE%20O%20ADICIONAL%20DE%20RISCO%20DE%20VIDA.pdf">Não incidência da contribuição previdenciária patronal sobre o adicional de risco de vida</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/inss/NÃO%20INCIDÊNCIA%20DA%20CONTRIBUIÇÃO%20PREVIDENCIÁRIA%20PATRONAL%20SOBRE%20VERBAS%20INDENIZATÓRIAS.pdf">Não incidência da contribuição precidenciária patronal sobre verbas indenizatórias</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">PIS e COFINS</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <!--<a href="#">PIS e COFINS sobre o bônus obtido pelas concessionárias
                                                                    de veículos</a>-->
                                                                <a target="_blank" href="artigos/tributario/piscofins/NÃO%20INCIDÊNCIA%20DO%20PIS%20E%20DA%20COFINS%20SOBRE%20O%20CRÉDITO%20PRESUMIDO.pdf">Não incidência do PIS e da COFINS sobre o crédito presumido</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/piscofins/NÃO%20INCIDÊNCIA%20DO%20PIS%20E%20COFINS%20SOBRE%20A%20TAXA%20DA%20ADMINISTRADORA%20DO%20CARTÃO%20DE%20CRÉDITO-DÉBITO.pdf">Não incidência do PIS e COFINS sobre a taxa da administradora do cartão de crédito-débito</a>
                                                                <!--<a href="#">PIS e COFINS sobre outras receitas que não configurem hipótese
                                                                    de incidência</a></li>-->
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/piscofins/NÃO%20INCIDÊNCIA%20DE%20PIS%20E%20COFINS%20PARA%20A%20CONCESSIONÁRIA%20SOBRE%20O%20BÔNUS%20CEDIDO%20PELA%20MONTADORA%20DE%20VEÍCULOS%20AUTOMOTORES.pdf">Não incidência de PIS e COFINS para a concessionária sobre o bônus cedido pela montadora de veículos automotores</a>
                                                                <!--<a href="#">PIS e COFINS sobre a taxa da administradora do cartão de
                                                                    credito/debito</a></li>-->
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/piscofins/DIREITO%20AO%20CRÉDITO%20DE%20PIS%20(1,65)%20E%20COFINS%20(7,6)%20PELA%20AQUISIÇÃO%20DE%20PRODUTOS%20INSERIDOS%20NO%20REGIME%20MONOFÁSICO%20DE%20TRIBUTAÇÃO.pdf">Direito ao crédito de PIS (1,65%) e COFINS (7,6%) pela aquisição de produtos inseridos no regime monofásico de tributação</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/piscofins/REDUÇÃO%20DA%20ALÍQUOTA%20DE%20PIS%20E%20COFINS%20SOBRE%20PRESTADORES%20DE%20SERVIÇO%20TRIBUTADOS%20PELO%20REGIME%20DO%20LUCRO%20REAL.pdf">Redução da alíquota de PIS e COFINS sobre prestadores de serviço tributados pelo regime do lucro real</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">IPI</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/IPI/NAO%20INCIDENCIA%20DO%20IPI%20NA%20REVENDA%20DE%20MERCADORIA%20IMPORTADA.pdf">Não incidência do IPI na revenda de mercadoria importada</a>
                                                                <!--<a href="#">Não incidência do IPI na revenda de mercadoria importada</a>-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">FAP/RAT</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a target="_blank" href="artigos/tributario/FAP/NAO INCIDANCIA DO FATOR ACIDENTARIO DE PREVENCAO (FAP) SOBRE O RISCO AMBIENTAL DO TRABALHO.pdf">Não incidência do fator acidentário (FAP)</a></li>
                                                            <li><a target="_blank" href="artigos/tributario/RAT/ILEGALIDADE DA APLICAÇÃO DO RISCO AMBIENTAL DO TRABALHO POR DECRETO.pdf">Ilegalidade da aplicação do risco ambienta do trabalho por decreto (RAT)</a></li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">Artigos especiais</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li><a target="_blank" href="artigos/tributario/especiais/ARTIGO - ALTERAÇÕES NA LEGISLAÇÃO TRIBUTÁRIA - 12973-14.pdf">Alterações Provocadas pela Lei nº 12.973/2014</a></li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Estaduais-->
                                            <div class="panel panel-default panel-padding">
                                                <div class="panel-heading-sm">
                                                    <span data-toggle="collapse" data-parent="#collapseTrib" data-target="#collEstadual" class="panel-title cursor-hand">Estaduais</span>
                                                </div>
                                                <div id="collEstadual" class="panel-collapse collapse">
                                                    <p class="text-left">ICMS</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/ICMS/EXCLUSÃO%20DO%20CRÉDITO%20DE%20ICMS%20NÃO%20RESTITUÍDO%20PELAS%20EMPRESAS%20EXPORTADORAS%20DA%20BASE%20DE%20CÁLCULO%20DO%20IRPJ%20E%20CSLL.pdf">Exclusão do crédito de ICMS não restituído pelas empresas exportadoras da base de cálculo do IRPJ e CSLL</a>
                                                                <!--    <a href="#">Exclusão do crédito de ICMS não restituído pelas empresas
                                                                        exportadoras da base de cálculo do IRPJ e CSLL</a>-->
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Municipais-->
                                            <div class="panel panel-default panel-padding">
                                                <div class="panel-heading-sm">
                                                    <span data-toggle="collapse" data-parent="#collapseTrib" data-target="#collMunicipal" class="panel-title cursor-hand">Municipais</span>
                                                </div>
                                                <div id="collMunicipal" class="panel-collapse collapse">
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <!--<a href="#">Não incidência do ISS sobre a incorporação imobiliária
                                                                    direta (construção civil em terreno próprio)</a>-->
                                                                <a target="_blank" href="artigos/tributario/ISS/NÃO%20INCIDÊNCIA%20DO%20ISS%20SOBRE%20A%20ATIVIDADE%20DE%20PLANOS%20DE%20SAÚDE.pdf">Não incidência do ISS sobre a atividade de planos de saúde</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="artigos/tributario/ISS/NAO%20INCIDENCIA%20DO%20IMPOSTO%20SOBRE%20SERVICO%20(ISS)%20NA%20PRODUCAO%20DE%20FILMES.pdf">Não incidência do imposto sobre serviço (ISS) na produção de filmes</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--MARITIMO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMar">
                                                Direito Marítimo

                                            </h3>
                                        </div>
                                        <div id="collapseMar" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <a target="_blank" href="artigos/maritimo/ASPECTOS%20JURÍDICOS%20DA%20REPRESENTAÇÃO%20DO%20BRASIL%20NA%20INTERNATIONAL%20MARITIME%20ORGANIZATION.pdf">Aspectos Jurídicos da Representação do Brasil na International Maritime Organization</a>
                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="artigos/maritimo/AS%20CARACTERÍSTICAS%20DAS%20CLÁUSULAS%20DE%20FORÇA%20MAIOR%20E%20DA%20CLÁUSULA%20HARDSHIP%20E%20SUAS%20DIFERENÇAS.pdf">As características das cláusulas de força maior e da cláusula HARDSHIP e suas diferenças</a>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- INTERNACIONAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseInter">
                                                Direito Internacional

                                            </h3>
                                        </div>
                                        <div id="collapseInter" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <i>Em breve</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--EMPRESARIAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEmp">
                                                Direito Empresarial

                                            </h3>
                                        </div>
                                        <div id="collapseEmp" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <i>Em breve</i>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>

                
                <footer id="contact" class="contact container-fluid paddingLR60 wp6">
                    <div class="container">
                        <div class="row">
                            <h2>Contact Us</h2>
                            <div class="col-md-6">
                                <form id="contact-form" class="contact-form formEN">
                                    <label for="name" class="clabel">Name</label>
                                    <input id="name" name="name" type="text" required />
                                    <label for="email" class="clabel">E-mail</label>
                                    <input type="email" name="email" id="email" required />
                                    <label for="message" class="clabel">Message</label>
                                    <textarea id="message" name="message"></textarea>
                                    <br />

                                    <button class="progress-button" data-style="rotate-angle-bottom" data-perspective data-horizontal id="contact-submit">Send</button>

                                    <p>
                                        <label class="label label-success fontsize18 hidden" id="successlabel">Thank you, your message has been sent!</label>

                                    </p>
                                    <br />
                                    <p class="label label-danger padding10 fontsize14 hidden" id="errorlabel" style="font-weight: 400;">
                                        Ops, ocorreu um erro ao enviar o email. Se você preferir pode enviar um email diretamente para <a style="color:white;font-size:14px;" href="mailto:contato@lzadv.com.br">contato@lzadv.com.br</a>.
                                    </p>
                                </form>
                            </div>
                            <div class="col-md-6">
                                <hr />
                                <address>
                                    Address: Rua Santos Saraiva, 840, C-04 (Sala 404), Estreito
                                    Florianópolis/SC, Brazil, CEP 88070-100.
                                </address>
                                <p><img height="17" width="12" src="../../img/phone.png"> +55 48 3028-7144 | <img src="../../img/arroba.png" height="17" width="17"> contato@lzadv.com.br</p>
                                <a href="https://goo.gl/maps/r4vJb" target="_blank"><img src="../../img/pin.png" height="18" width="14" /> Address</a>
                                <div class="row margin-top-15">
                                    <div class="col-sm-1">
                                        <a href="http://twitter.com/LZAdv" target="_blank">
                                            <img src="../../img/twitter.png" alt="Twitter" />
                                        </a>
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="http://www.facebook.com/LZAdv" target="_blank">
                                            <img src="../../img/facebook.png" alt="Facebook" />
                                        </a>
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="http://www.linkedin.com/company/2900624?trk=tyah" target="_blank">
                                            <img src="../../img/linkedin.png" alt="" />
                                        </a>
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="http://www.youtube.com/channel/UCp5nUbCGI-s5U0SumBtqQvw?feature=mhee" target="_blank"><img src="../../img/youtube.png" alt="" /></a>
                                    </div>
                                    <div class="col-sm-1">
                                        <a href="http://lzadv.wordpress.com/" target="_blank"><img src="../../img/wordpress.png" alt="" /></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </footer>
                
            </div>
        </div>
    </div>

    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
            m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g; m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-29270391-1', 'auto');
        ga('send', 'pageview');

    </script>
    <!--    <script src="../../js/modernizr.js"></script>-->
    <script src="../../js/modernizr-2.6.2.js"></script>
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.flexslider.js"></script>
    <script src="../../js/jquery-scrollToTop.js"></script>
    <script src="../../js/jquery-scrollToTop.js"></script>
    <script src="../../js/classie.js"></script>
    <script src="../../js/progressButton.js"></script>
    
    <script src="../../js/waypoints.min.js"></script>
    <script src="../../js/scripts.js"></script>
</body>
</html>