<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="utf-8" lang="pt-br">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Lobo & Vaz Advogados Associados</title>
    <!-- Bootstrap -->
    <link href="../../css/bootstrap.css" rel="stylesheet">

    <link href="~/css/blog.css" rel="stylesheet" />
    <link href="../../css/styles.css?v=1.2" rel="stylesheet">
    <link href="../../css/queries.css?v=1.2" rel="stylesheet">
    <link rel="stylesheet" href="../../css/flexslider.css?v=1.2" type="text/css">
    <link rel="stylesheet" href="../../css/grid.css" type="text/css">
    <link rel="stylesheet" href="../../css/submitButton.css" type="text/css">
    <link href="~/css/scrollToTop.css" rel="stylesheet" />
    <link href="~/css/easing.css" rel="stylesheet" />
    <link href="~/css/helpers.css" rel="stylesheet" />

    <link rel="stylesheet" href="../../css/animate.css" type="text/css">
    <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
    <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->

    <link href="//cdn-images.mailchimp.com/embedcode/slim-081711.css" rel="stylesheet" type="text/css">


    <script src="../../js/modernizr.custom.js"></script>


</head>
<body>
    @*<div id="fb-root"></div>
    <script>
        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) return;
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/pt_BR/sdk.js#xfbml=1&version=v2.5";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>*@

    <script>
        window.fbAsyncInit = function () {
            FB.init({
                appId: '436241219912916',
                xfbml: true,
                version: 'v2.5'
            });
        };

        (function (d, s, id) {
            var js, fjs = d.getElementsByTagName(s)[0];
            if (d.getElementById(id)) { return; }
            js = d.createElement(s); js.id = id;
            js.src = "//connect.facebook.net/en_US/sdk.js";
            fjs.parentNode.insertBefore(js, fjs);
        }(document, 'script', 'facebook-jssdk'));
    </script>

    <div class="main">
        <div class="menu-wrap">
            <nav class="menu">
                <div class="text-center margin-bottom-30">
                    <img src="~/img/logo-gray-single.png" />

                </div>
                <div class="icon-list">
                    <a href="#att" class="att-menu"><span>Advogados</span></a>
                    <a href="#work" class="work-menu"><span>Áreas de Atuação</span></a>
                    <a href="#us" class="about-menu"><span>Sobre Nós</span></a>
                    <a href="#news" class="news-menu"><span>Publicações</span></a>
                    <a href="#contact" class="contact-menu"><span>Contato</span></a>
                </div>
            </nav>
        </div>

        <button class="menu-button hidden" id="open-button"></button>

        <div class="content-wrap ">
            <div class="content">
                <header>
                    <div class="container">
                        <div class="row ">
                            <div class="responsive-logo"></div>
                            <div class="pullcontainer">
                                <a href="#" id="pull"><i class="fa fa-bars fa-2x"></i></a>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="logo-holder"></div>
                                <nav>
                                    <ul class="clearfix">
                                        <li>
                                            <a href="#att" class="att-menu">Advogados</a>
                                        </li>
                                        <li>
                                            <a href="#work" class="work-menu">Áreas de Atuação</a>
                                        </li>
                                        <li>
                                            <a href="#us" class="about-menu">Sobre Nós</a>
                                        </li>
                                        <li>
                                            <a href="#news" class="r_spacer news-menu">Publicações</a>
                                        </li>
                                        <li>
                                            <a href="#contact" class="contact-menu">Contato</a>
                                        </li>
                                        <li>
                                            <ul class="flags">
                                                <li>
                                                    <a href="/Home/IndexEN" class="en" title="English">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                                <li>
                                                    <a href="/Home/IndexFR" class="fr" title="Français">
                                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                                    </a>
                                                </li>
                                            </ul>
                                        </li>
                                    </ul>
                                </nav>

                            </div>
                        </div>

                        <div class="row"><div class="col-md-12 heighter">&nbsp;</div></div>
                        <div class="row">
                            <div class="col-md-10 col-md-offset-1 text-center">
                                <div class="quote">
                                    <q>"A justiça é a primeira virtude das instituições sociais, como a verdade o é dos sistemas de pensamento"</q>
                                    <br />
                                    <q>John Rawls</q>
                                    <div class="quote-button text-center"><a href="#us" class="ico_btn-home"></a></div>
                                </div>
                            </div>
                        </div>
                    </div>
                </header>
                <div class="wp1 ">

                </div>
                <section class="att-container" id="att">
                    <div class="container-fluid">
                        <div class="row wp2">
                            <h1 class="att-header">ADVOGADOS</h1>
                            <hr class="line" />
                            <div class="flexslider">


                                <ul class="slides">
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/brn.png" alt="[Foto] Bruno Eduardo Budal Lobo" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-1 att-desc">
                                                <h1 class="att-title">Bruno Eduardo Budal Lobo</h1>
                                                <span class="att-subtitle">OAB/SC 30.059</span>

                                                <p>
                                                    Bacharel em Direito pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.
                                                </p>
                                                <p>Especialista em Direito Aduaneiro e Comércio Exterior pela Universidade do Vale do Itajaí - UNIVALI.</p>
                                                <p>Formado no Curso de Formação de Despachante Aduaneiro pela Associação Brasileira de Comércio Exterior - ABRACOMEX.</p>
                                                <p>Pós-graduando em Direito Processual Civil pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.</p>
                                                <p>Palestrante e autor de artigos em publicações especializadas, inclusive do livro ‘Direito Marítimo, Regulação e Desenvolvimento’ (Ed. Forum, 2011).</p>
                                                <p>Idiomas: Português e inglês.</p>
                                                <p>
                                                    <a href="mailto:bruno@lzadv.com.br">bruno@lzadv.com.br</a>


                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li>
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/brc.png" alt="[Foto] Bruce Bastos Martins" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-1 att-desc">
                                                <h1 class="att-title">Bruce Bastos Martins</h1>
                                                <span class="att-subtitle">OAB/SC 32.471</span>

                                                <p>
                                                    Bacharel em Direito pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.
                                                </p>
                                                <p>Especialista em Direito Tributário pelo Instituto Brasileiro de Estudos Tributários - IBET.</p>
                                                <p>Professor de Direito Tributário e autor de artigos em publicações especializadas.</p>
                                                <p>Pós-graduando em Direito da Aduana e do Comércio Exterior Brasileiro pela Universidade do Vale do Itajaí – UNIVALI.</p>
                                                <p>Idiomas: Português, inglês e francês.</p>
                                                <p>
                                                    <a href="mailto:bruce@lzadv.com.br">bruce@lzadv.com.br</a>

                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/rfl.png" alt="[Foto] Rafael Medeiros Popini Vaz" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-1 att-desc">
                                                <h1 class="att-title">Rafael Medeiros Popini Vaz</h1>
                                                <span class="att-subtitle">OAB/SC 34.782</span>

                                                <p>
                                                    Bacharel em Direito pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.
                                                </p>
                                                <p>Especialista em Direito Aduaneiro e Comércio Exterior pela Universidade do Vale do Itajaí - UNIVALI.</p>
                                                <p>Especialista em Direito do Trabalho e Processo do Trabalho pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.</p>
                                                <p>Membro da Associação Catarinense dos Advogados Trabalhistas (ACAT).</p>
                                                <p>Idiomas: Português, francês e inglês.</p>
                                                <p>
                                                    <a href="mailto:rafael@lzadv.com.br">rafael@lzadv.com.br</a>


                                                </p>
                                            </div>
                                        </div>
                                    </li>
                                    <li class="att-wrapper">
                                        <div class="row">
                                            <div class="col-md-4">
                                                <div class="adv-img-wrapper">
                                                    <img src="../../img/gbrl.png" alt="[Foto] Gabriel Souto Silva" />
                                                </div>
                                            </div>
                                            <div class="col-md-6 col-md-offset-1 att-desc">
                                                <h1 class="att-title">Gabriel Souto Silva</h1>
                                                <span class="att-subtitle">OAB/SC 31.344</span>
                                                <p>
                                                    Bacharel em Direito pelo Complexo de Ensino Superior de Santa Catarina – CESUSC.
                                                </p>
                                                <p>
                                                    Especialista em Direito Aduaneiro e Comércio Exterior pela Universidade do Vale do Itajaí - UNIVALI.
                                                </p>
                                                <p>Técnico em Contabilidade pelo Serviço Nacional de Aprendizagem Comercial – SENAC.</p>
                                                <p>Registrado no Conselho Regional de Contabilidade de Santa Catarina sob o nº 038960/O-2.</p>


                                                <p>Idiomas: Português e inglês.</p>
                                                <p>
                                                    <a href="mailto:gabriel@lzadv.com.br">gabriel@lzadv.com.br</a>


                                                </p>
                                            </div>
                                        </div>
                                    </li>


                                </ul>


                            </div>
                            <hr class="line" />
                        </div>
                    </div>
                </section>
                <section class="container-fluid work">
                    <div class="row">
                        <div class="col-md-12 section-1" id="work">
                            <div class="wp3 section-text">
                                <h2>Áreas de Atuação</h2>
                                <div class="grid">
                                    <figure class="effect-sadie">
                                        <img src="../../img/adu.png" alt="[Foto] Direito Aduaneiro" />
                                        <figcaption data-toggle="modal" data-target="#dir-adu-modal">
                                            <h3>Direito <span>Aduaneiro</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                A Lobo & Vaz Advogados Associados possui amplo conhecimento nas relações aduaneiras, fruto da formação e da experiência profissional de seus advogados. Proporcionamos segurança e apresentamos soluções por meio de nossa assistência jurídica às empresas que atuam no campo do comércio exterior.

                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-trab.png" alt="[Foto] Direito do Trabalho e Previdenciário" />
                                        <figcaption data-toggle="modal" data-target="#dir_trabModal">
                                            <h3>DIREITO DO TRABALHO E PREVIDENCIÁRIO </h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                A Lobo & Vaz Advogados Associados se destaca pelo alto grau de especialização, atendendo seus clientes sempre com presteza e segurança jurídica nas lides trabalhistas e previdenciárias.

                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-mar.png" alt="[Foto] Direito Marítimo" />
                                        <figcaption data-toggle="modal" data-target="#dir_maritModal">
                                            <h3>Direito <span>Marítimo</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>A Lobo & Vaz Advogados Associados atua nas mais diversas áreas do Direito Marítimo, atendendo as necessidades legais de investidores, empresas brasileiras e estrangeiras de transporte de carga e de passageiros, autoridades portuárias, proprietários de embarcações e corporações afins, tais como provedores de serviço e de logística.                                 </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-trib.png" alt="[Foto] Direito Tributário" />
                                        <figcaption data-target="#dir_tributModal" data-toggle="modal">
                                            <h3>Direito <span>Tributário</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                A Lobo & Vaz Advogados Associados conta com profissionais especializados e experientes, atuando nos diversos ramos do Direito Tributário.


                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-emp.png" alt="[Foto] Direito Empresarial" />
                                        <figcaption data-target="#dir_empresModal" data-toggle="modal">
                                            <h3>Direito <span>Empresarial</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                A Lobo & Vaz Advogados Associados presta assessoria jurídica à vasta área empresarial. Patrocinamos com zelo e dedicação as medidas judiciais e extrajudiciais do interesse de nossos clientes.

                                            </p>
                                        </figcaption>
                                    </figure>
                                    <figure class="effect-sadie">
                                        <img src="../../img/dir-int.png" alt="[Foto] Direito Internacional" />
                                        <figcaption data-target="#dir_interModal" data-toggle="modal">
                                            <h3>Direito <span>Internacional</span></h3>
                                            <div class="fx-icon"></div>
                                            <p>
                                                A Lobo & Vaz Advogados Associados presta diversos serviços jurídicos relacionados ao Direito Internacional.
                                                <a href="#">Saiba Mais</a>
                                            </p>
                                        </figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                </section>
                <section class="container-fluid about wp4" id="us">
                    <div class="row">
                        <div class="col-md-12 section-3">
                            <div class="logo-3 wpLogo"></div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 section-text">
                            <div class="wp4">
                                <p class="paddingLR60">
                                    Fundada em 2010 e devidamente inscrita na OAB/SC sob o nº 1.783, a Lobo & Vaz Advogados Associados resultou da união de conhecimentos, experiências e objetivos em comuns de seus integrantes, que primam pela excelência dos serviços jurídicos prestados, especialmente nas áreas de Direito Empresarial, Direito Tributário, Direito Aduaneiro, Direito do Trabalho e Previdenciário, Direito Marítimo e Direito Internacional.
                                </p>
                                <p class="paddingLR60">Nosso corpo jurídico é formado por profissionais especializados, voltados ao apoio de nossos clientes na área jurídica, com atuação direta no desenvolvimento e acompanhamento de trabalhos voltados à advocacia preventiva e contenciosa.</p>

                                <!--        <div class="thin-sep"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12 section-text">
                            <div class="wp4">
                                <h3 class="text-center">Do fenômeno ético-jurídico</h3>
                                <h4 class="text-center">Introdução lógico-semântica</h4>
                                <p class="paddingLR60">
                                    Valores: valores são nossas significações, produtos de nossos afetos como corporação, meios de valorar a vida advocatícia.
                                </p>
                                <p class="paddingLR60">Visão: tal complexa combinação valorativa, em grande medida produz a energia de nossa potência, potência para existir e agir, permitindo termos uma visão dos fenômenos e, com isso, construir a nossa realidade. </p>
                                <p class="paddingLR60">Missão: a partir de nossa visão, feixe de nossos valores, lançamo-nos para fora de nosso corpo jurídico através de um processo noético-noemático, forjando nossas missões a favor de nossos clientes, revelando o fenômeno ético-jurídico de nosso escritório.</p>
                                <!--        <div class="thin-sep"></div>-->
                            </div>
                        </div>
                    </div>
                    <div class="row paddingLR60">
                        <div class="col-md-4 section-text">
                            <h2>Valores</h2>
                            <ul class="list-unstyled values-list">
                                <li>
                                    Convicção: sempre tomar uma posição diante da dúvida;
                                </li>
                                <li>
                                    Responsabilidade: responsabilizar-se pela posição tomada;
                                </li>
                                <li>
                                    União: ação e análise dos conflitos sempre em conjunto com o cliente;
                                </li>
                                <li>
                                    Segurança: proporcionar por todas as vias o máximo da segurança jurídica;
                                </li>
                                <li>
                                    Agilidade: agir de maneira célere e contundente.
                                </li>

                            </ul>

                        </div>
                        <div class="col-md-4 section-text">
                            <h2>Missão</h2>

                            <p>A indissociabilidade corporativa, tornando-nos uma extensão comprometida e com efetiva responsabilidade perante nosso cliente, com vistas resolução dos conflitos jurídicos presentes e futuros.</p>
                        </div>
                        <div class="col-md-4 section-text">
                            <h2>Visão</h2>
                            <p>Concretizar uma nova forma de prestar os serviços advocatícios.</p>

                        </div>
                    </div>
                </section>
                <div class="about-news-split wp5">
                </div>
                <span id="news" class="margin-top15"></span>
                <section class="container-fluid paddingLR60 bg-corp-blue fg-white padding-bottom-20">
                    <div class="row ">
                        <div class="col-md-12" id="blogs-column">
                            <h2 class="fg-white">Blogs</h2>
                            <div class="row margin-top-30 profile-container">
                                <div class="col-md-3">
                                    <figure class="text-center height-200 padding-10 profile" data-id="0">
                                        <img alt="Bruce Bastos Martins" src="~/img/brc-circle.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">Bruce Bastos Martins</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="text-center height-200 padding-10 profile" data-id="1">
                                        <img alt="Bruno Eduardo Budal Lobo" src="~/img/brn-circle.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">Bruno Eduardo Budal Lobo</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="text-center height-200 padding-10 profile" data-id="2">
                                        <img alt="Gabriel Souto Silva" src="~/img/gbrl-circle.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">Gabriel Souto Silva</figcaption>
                                    </figure>
                                </div>
                                <div class="col-md-3">
                                    <figure class="text-center height-200 padding-10 profile" data-id="3">
                                        <img alt="Rafael Medeiros Popini Vaz" src="~/img/rfl-circle.png" height="100" width="100" class="profile-pic" />
                                        <figcaption class="profile-caption">Rafael Medeiros Popini Vaz</figcaption>
                                    </figure>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                        <section id="theGrid" class="main margin-top--5">
                            <div class="row">
                                <!-- Popular essa seção com a lista de posts -->
                                <section class="post-list">

                                    @*<a class="grid__item" href="#">
                    <h2 class="title title--preview">MDIC simplifica procedimento de exportação</h2>
                    <div class="loader"></div>
                    <span class="category">Direito Aduaneiro</span>
                    <div class="meta meta--preview">
                        <span class="meta__date"><i class="fa fa-calendar-o"></i> 17/07/2015</span>
                    </div>
                </a>*@

                                </section>
                            </div>
                    <!-- Popular essa seção com o conteúdo do post selecionado -->
                    <section class="ccontent">
                        <div class="scroll-wrap" id="post-wrap">
                            <article class="content__item">
                                @*<div id="post-body">

                        </div>
                        <div class="row">
                            <div class="col-md-4 col-md-offset-3">
                                <div class="fb-comments" data-href="http://www.lzadv.com.br" data-numposts="5"></div>
                            </div>
                        </div>*@
                            </article>
                        </div>
                        <button class="close-button"><i class="fa fa-close"></i><span>Fechar</span></button>
                    </section>

                </section>
                
                </section>
                <section class="container-fluid news paddingLR60">



                    <div class="row">
                        <div class="col-md-6" id="news-column">
                            <h2>Boletins</h2>
                            <div>
                                <ul class="list-unstyled ">
                                    <li class="inline">

                                        <a href="~/boletins/01/boletim01.html" target="_blank" title="Boletim jurídico Nº 1">
                                            <img src="~/boletins/thumbs/thumb01.png" alt="Boletim 1" width="200" />
                                        </a>
                                    </li>
                                    <li class="inline">

                                        <a href="~/boletins/02/boletim02.html" target="_blank" title="Boletim jurídico Nº 2">
                                            <img src="~/boletins/thumbs/thumb02.png" width="200" />
                                        </a>
                                    </li>
                                    <li class="inline">

                                        <a href="~/boletins/03/boletim03.html" target="_blank" title="Boletim jurídico Nº 3">
                                            <img src="~/boletins/thumbs/thumb03.png" width="200" />
                                        </a>
                                    </li>
                                    <li class="inline">

                                        <a href="~/boletins/04/boletim04.html" target="_blank" title="Boletim jurídico Nº 4">
                                            <img src="~/boletins/thumbs/thumb04.png" width="200" />
                                        </a>
                                    </li>
                                    <li class="inline">

                                        <a href="~/boletins/05/boletim05.html" target="_blank" title="Boletim jurídico Nº 5">
                                            <img src="~/boletins/thumbs/thumb05.png" width="200" />
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h2>@*<img src="../../img/file-dl.png" height="46" />*@ Artigos</h2>
                            <div class="article-list">
                                <div class="panel-group" id="accordion">
                                    <!--ADUANEIRO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseAdu">
                                                Direito Aduaneiro

                                            </h2>
                                        </div>
                                        <div id="collapseAdu" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <a href="~/artigos/DIREITO ADUANEIRO/DA ADMISSÃO TEMPORÁRIA.pdf" target="_blank">DA ADMISSÃO TEMPORÁRIA.pdf</a>

                                                    </li>
                                                    <li>
                                                        <a href="~/artigos/DIREITO ADUANEIRO/DA INSTRUÇÃO NORMATIVA Nº 1.443 DE 2014.pdf" target="_blank">DA INSTRUÇÃO NORMATIVA Nº 1.443 DE 2014.pdf</a>
                                                    </li>
                                                    @*
                                                        <li>
                                                            <a target="_blank" href="/artigos/aduaneiros/importacao/PIS%20E%20COFINS%20NA%20IMPORTAÇÃO%20PARA%20EMPRESAS%20OPTANTES%20PELO%20LUCRO%20PRESUMIDO.pdf">PIS e COFINS na importação para empresas optantes pelo lucro presumido</a>
                                                        </li>
                                                        <li>
                                                            <a target="_blank" href="/artigos/aduaneiros/importacao/EXCLUSÃO%20DO%20ICMS%20E%20CONTRIBUIÇÕES%20SOCIAIS%20DA%20BASE%20DE%20CÁLCULO%20DO%20PIS%20E%20COFINS%20INCIDENTE%20NA%20IMPORTAÇÃO.pdf">Exlcusão do ICMS e contribuições sociais da base de cálculo do PIS e COFINS incidente na importação</a>
                                                        </li>
                                                        <li>
                                                            <a target="_blank" href="/artigos/aduaneiros/importacao/A%20POSSIBILIDADE%20DA%20CAUÇÃO%20PECUNIÁRIA%20PARA%20A%20LIBERAÇÃO%20DE%20MERCADORIA%20RETIDA%20NO%20PROCEDIMENTO%20ESPECIAL%20DE%20CONTROLE.pdf">
                                                                A possibilidade da caução pecuniária para a liberação de
                                                                mercadoria retida no procedimento especial de controle – uma análise da instrução
                                                                normativa da Receita Federal do Brasil nº 1.169/2011 de 29 de junho de 2011.
                                                            </a>
                                                        </li>*@
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- TRIBUTARIO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h2 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTrib">
                                                Direito Tributário
                                            </h2>
                                        </div>
                                        <div id="collapseTrib" class="panel-collapse collapse">
                                            <!-- Federais-->
                                            <div class="panel panel-default panel-padding ">
                                                <div class=" panel-heading-sm">
                                                    <h4 data-toggle="collapse" data-parent="#collapseTrib" data-target="#collFederal" class="panel-title cursor-hand">
                                                        Federais
                                                    </h4>
                                                </div>
                                                <div id="collFederal" class="panel-collapse collapse">
                                                    <p class="text-left">Contribuição Previdenciária Patronal (INSS)</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>

                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuicao Previdenciaria Patronal (INSS)/UM TERCO CONSTITUCIONAL DE FÉRIAS.pdf">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL (20%) SOBRE AUXILIO-DOENÇA, AUXILIO-ACIDENTE E UM TERCO CONSTITUCIONAL DE FÉRIAS</a>
                                                            </li>

                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuicao Previdenciaria Patronal (INSS)/RISCO DE VIDA DO FUNCIONÁRIO.pdf">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL (20%) SOBRE O ADICIONAL RISCO DE VIDA DO FUNCIONÁRIO</a>

                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuicao Previdenciaria Patronal (INSS)/AVISO PRÉVIO INDENIZADO.pdf">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL (20%) SOBRE VERBAS INDENIZATÓRIAS - AVISO PRÉVIO INDENIZADO</a>
                                                                @*<a href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuição Previdenciária Patronal (INSS)/NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL (20%) SOBRE VERBAS INDENIZATÓRIAS - AVISO PRÉVIO INDENIZADO.pdf" target="_blank">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL (20%) SOBRE VERBAS INDENIZATÓRIAS - AVISO PRÉVIO INDENIZADO.pdf</a>*@
                                                            </li>
                                                            <li>
                                                                @*<a href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuição Previdenciária Patronal (INSS)/NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL SOBRE A DIVISÃO DE LUCROS AOS SÓCIOS.pdf">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL SOBRE A DIVISÃO DE LUCROS AOS SÓCIOS.pdf</a>*@
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuicao Previdenciaria Patronal (INSS)/DIVISÃO DE LUCROS AOS SÓCIOS.pdf">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO PREVIDENCIÁRIA PATRONAL SOBRE A DIVISÃO DE LUCROS AOS SÓCIOS</a>
                                                            </li>
                                                            <li>
                                                                @*<a href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuição Previdenciária Patronal (INSS)/NÃO INCLUSÃO DO ICMS E DO ISS NA BASE DE CÁLCULO DA CONTRIBUIÇÃO PREVIDENCIÁRIA ENUNCIADA NOS TERMOS DA LEI 12.546 DE 2012.pdf">Contribuição Previdenciária Patronal (INSS)/NÃO INCLUSÃO DO ICMS E DO ISS NA BASE DE CÁLCULO DA CONTRIBUIÇÃO PREVIDENCIÁRIA ENUNCIADA NOS TERMOS DA LEI 12.546 DE 2012.pdf</a>*@
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Contribuicao Previdenciaria Patronal (INSS)/NOS TERMOS DA LEI 12.546 DE 2012.pdf">NÃO INCLUSÃO DO ICMS E DO ISS NA BASE DE CÁLCULO DA CONTRIBUIÇÃO PREVIDENCIÁRIA ENUNCIADA NOS TERMOS DA LEI 12.546 DE 2012</a>

                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <p class="text-left">PIS e COFINS</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>

                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/PIS e COFINS/DIREITO AO CRÉDITO DE PIS (1,65%) E COFINS (7,6%)  PELA AQUISIÇÃO DE PRODUTOS INSERIDOS NO REGIME MONOFÁSICO DE TRIBUTAÇÃO.pdf">DIREITO AO CRÉDITO DE PIS (1,65%) E COFINS (7,6%)  PELA AQUISIÇÃO DE PRODUTOS INSERIDOS NO REGIME MONOFÁSICO DE TRIBUTAÇÃO.pdf</a>
                                                            </li>
                                                            <li>

                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/PIS e COFINS/NÃO INCIDÊNCIA DO PIS E DA COFINS SOBRE A TAXA DA ADMINISTRADORA DO CARTÃO DE CRÉDITO (3% A 5% DO VALOR DA OPERAÇÃO).pdf">NÃO INCIDÊNCIA DO PIS E DA COFINS SOBRE A TAXA DA ADMINISTRADORA DO CARTÃO DE CRÉDITO (3% A 5% DO VALOR DA OPERAÇÃO).pdf</a>
                                                            </li>
                                                            <li>

                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/PIS e COFINS/NÃO INCIDÊNCIA DO PIS E DA COFINS SOBRE OS CRÉDITOS PRESUMIDOS – ICMS E IPI.pdf">NÃO INCIDÊNCIA DO PIS E DA COFINS SOBRE OS CRÉDITOS PRESUMIDOS – ICMS E IPI.pdf</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/PIS e COFINS/O DIREITO DE CRÉDITO DE PIS E COFINS SOBRE TODO CUSTO E DESPESA DA PESSOA JURÍDICA.pdf">O DIREITO DE CRÉDITO DE PIS E COFINS SOBRE TODO CUSTO E DESPESA DA PESSOA JURÍDICA.pdf</a>

                                                            </li>
                                                            <li>

                                                                <a href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/PIS e COFINS/REDUÇÃO DA BASE DE CALCULO DO PIS-IMPORTAÇÃO E COFINS-IMPORTAÇÃO.pdf" target="_blank">REDUÇÃO DA BASE DE CALCULO DO PIS-IMPORTAÇÃO E COFINS-IMPORTAÇÃO.pdf</a>
                                                            </li>
                                                            <li>

                                                                <a href="~/artigos/DIREITO%20TRIBUT%c3%81RIO/FEDERAIS/PIS%20e%20COFINS/REDU%c3%87%c3%83O%20DA%20BASE%20DE%20CALCULO%20DO%20PIS-IMPORTA%c3%87%c3%83O%20E%20COFINS-IMPORTA%c3%87%c3%83O.pdf">REDUÇÃO DA BASE DE CALCULO DO PIS-IMPORTAÇÃO E COFINS-IMPORTAÇÃO.pdf</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">IPI</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/IPI/NÃO INCIDÊNCIA DO IMPOSTO SOBRE PRODUTO INDUSTRIALIZADO (IPI) NA REVENDA DE MERCADORIA IMPORTADA.pdf">NÃO INCIDÊNCIA DO IMPOSTO SOBRE PRODUTO INDUSTRIALIZADO (IPI) NA REVENDA DE MERCADORIA IMPORTADA.pdf</a>

                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/IPI/NÃO INCIDÊNCIA DO IPI-IMPORTAÇÃO PARA PRESTADORES DE SERVIÇOS OU NA IMPORTAÇÃO DE BENS DESTINADOS AO ATIVO IMOBILIZADO.pdf" target="_blank">NÃO INCIDÊNCIA DO IPI-IMPORTAÇÃO PARA PRESTADORES DE SERVIÇOS OU NA IMPORTAÇÃO DE BENS DESTINADOS AO ATIVO IMOBILIZADO.pdf</a>
                                                            </li>
                                                        </ul>
                                                    </div>
                                                    <p class="text-left">FAP/RAT</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/FAP e RAT/NÃO INCIDÊNCIA DO FATOR ACIDENTÁRIO DE PREVENÇÃO (FAP) SOBRE O RISCO AMBIENTAL DO TRABALHO (ALÍQUOTA COLETIVA - 1% ATÉ 3%).pdf">NÃO INCIDÊNCIA DO FATOR ACIDENTÁRIO DE PREVENÇÃO (FAP) SOBRE O RISCO AMBIENTAL DO TRABALHO (ALÍQUOTA COLETIVA - 1% ATÉ 3%).pdf</a>

                                                            </li>

                                                        </ul>
                                                    </div>
                                                    <p class="text-left">Artigos especiais</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Artigos Especiais/A SELETIVIDADE DO IPI FRENTE AOS PRINCÍPIOS CONSTITUCIONAIS DE ORDEM ECONÔMICA EM DEFESA DO MEIO AMBIENTE.pdf">A SELETIVIDADE DO IPI FRENTE AOS PRINCÍPIOS CONSTITUCIONAIS DE ORDEM ECONÔMICA EM DEFESA DO MEIO AMBIENTE.pdf</a>

                                                            </li>
                                                            <li>

                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Artigos Especiais/ALTERAÇÕES PROVOCADAS PELA LEI 12.973 DE 2014.pdf">ALTERAÇÕES PROVOCADAS PELA LEI 12.973 DE 2014.pdf</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/FEDERAIS/Artigos Especiais/OPERAÇÃO DE EMPRÉSTIMO EXTERNO EM EMPRESA NACIONAL - REGISTRO DE OPERAÇÕES FINANCEIRAS DE CRÉDITO EXTERNO.pdf">OPERAÇÃO DE EMPRÉSTIMO EXTERNO EM EMPRESA NACIONAL - REGISTRO DE OPERAÇÕES FINANCEIRAS DE CRÉDITO EXTERNO.pdf</a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Estaduais-->
                                            <div class="panel panel-default panel-padding">
                                                <div class="panel-heading-sm">
                                                    <span data-toggle="collapse" data-parent="#collapseTrib" data-target="#collEstadual" class="panel-title cursor-hand">Estaduais</span>
                                                </div>
                                                <div id="collEstadual" class="panel-collapse collapse">
                                                    <p class="text-left">ICMS</p>
                                                    <div class="panel-body">
                                                        <ul>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/ESTADUAIS/ICMS/IMPOSTO SOBRE OPERAÇÕES RELATIVAS À CIRCULAÇÃO DE MERCADORIAS (ICMS) - EFEITOS JURÍDICOS SOBRE BONIFICAÇÕES E DESCONTOS.pdf">IMPOSTO SOBRE OPERAÇÕES RELATIVAS À CIRCULAÇÃO DE MERCADORIAS (ICMS) - EFEITOS JURÍDICOS SOBRE BONIFICAÇÕES E DESCONTOS.pdf</a>

                                                            </li>
                                                            <li>

                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/ESTADUAIS/ICMS/REGIME ESPECIAL DO ICMS.pdf">REGIME ESPECIAL DO ICMS.pdf</a>
                                                            </li>
                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/ESTADUAIS/ICMS/TRIBUTAÇÃO DO ICMS NA TRANSFERÊNCIA DE MERCADORIA ENTRE MATRIZ E FILIAL.pdf">TRIBUTAÇÃO DO ICMS NA TRANSFERÊNCIA DE MERCADORIA ENTRE MATRIZ E FILIAL.pdf</a>

                                                            </li>

                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                            <!--Municipais-->
                                            <div class="panel panel-default panel-padding">
                                                <div class="panel-heading-sm">
                                                    <span data-toggle="collapse" data-parent="#collapseTrib" data-target="#collMunicipal" class="panel-title cursor-hand">Municipais</span>
                                                </div>
                                                <div id="collMunicipal" class="panel-collapse collapse">
                                                    <div class="panel-body">

                                                        <p class="text-left">ISS</p>

                                                        <ul>


                                                            <li>
                                                                <a target="_blank" href="~/artigos/DIREITO TRIBUTÁRIO/MUNICIPAIS/ISS/NÃO INCIDÊNCIA DO ISS SOBRE CONTRATO DE LICITAÇÃO - TERCEIRIZAÇÃO DA PRESTAÇÃO DE SERVIÇO PELO CONTRATADO.pdf">NÃO INCIDÊNCIA DO ISS SOBRE CONTRATO DE LICITAÇÃO - TERCEIRIZAÇÃO DA PRESTAÇÃO DE SERVIÇO PELO CONTRATADO.pdf</a>

                                                            </li>

                                                        </ul>


                                                        <p class="text-left">Taxas</p>
                                                        <ul>
                                                            <li>
                                                                <a href="~/artigos/DIREITO TRIBUTÁRIO/MUNICIPAIS/Taxas/INCONSTITUCIONALIDADE DA TAXA PELO SOLO CRIADO.pdf">INCONSTITUCIONALIDADE DA TAXA PELO SOLO CRIADO.pdf</a>

                                                            </li>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <!--MARITIMO-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseMar">
                                                Direito Marítimo

                                            </h3>
                                        </div>
                                        <div id="collapseMar" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>

                                                        <a target="_blank" href="~/artigos/DIREITO MARÍTIMO/AS CARACTERÍSTICAS DAS CLÁUSULAS DE FORÇA MAIOR, DA CLÁUSULA HARDSHIP E SUAS DIFERENÇAS.pdf">AS CARACTERÍSTICAS DAS CLÁUSULAS DE FORÇA MAIOR, DA CLÁUSULA HARDSHIP E SUAS DIFERENÇAS.pdf</a>
                                                    </li>
                                                    <li>

                                                        <a target="_blank" href="~/artigos/DIREITO MARÍTIMO/PRAZO PRESCRICIONAL DA SOBRE-ESTADIA (DEMURRAGE).pdf">PRAZO PRESCRICIONAL DA SOBRE-ESTADIA (DEMURRAGE).pdf</a>
                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- INTERNACIONAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseInter">
                                                Direito Internacional

                                            </h3>
                                        </div>
                                        <div id="collapseInter" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <i>Em breve</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--EMPRESARIAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseEmp">
                                                Direito Empresarial

                                            </h3>
                                        </div>
                                        <div id="collapseEmp" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <i>Em breve</i>
                                            </div>
                                        </div>
                                    </div>
                                    <!--EMPRESARIAL-->
                                    <div class="panel panel-default">
                                        <div class="panel-heading">
                                            <h3 class="panel-title cursor-hand" data-toggle="collapse" data-parent="#accordion" data-target="#collapseTrab">
                                                Direito do Trabalho e Previdenciário

                                            </h3>
                                        </div>
                                        <div id="collapseTrab" class="panel-collapse collapse">
                                            <div class="panel-body">
                                                <ul>
                                                    <li>
                                                        <a target="_blank" href="~/artigos/DIREITO DO TRABALHO E PREVIDENCIÁRIO/A REDUÇÃO SALARIAL PROPORCIONAL À JORNADA DE TRABALHO POR INTERESSE EXCLUSIVO DO EMPREGADO.pdf">A REDUÇÃO SALARIAL PROPORCIONAL À JORNADA DE TRABALHO POR INTERESSE EXCLUSIVO DO EMPREGADO.pdf</a>

                                                    </li>
                                                    <li>
                                                        <a target="_blank" href="~/artigos/DIREITO DO TRABALHO E PREVIDENCIÁRIO/NÃO INCIDÊNCIA DA CONTRIBUIÇÃO SINDICAL PARA EMPRESAS QUE NÃO POSSUEM EMPREGADOS.pdf">NÃO INCIDÊNCIA DA CONTRIBUIÇÃO SINDICAL PARA EMPRESAS QUE NÃO POSSUEM EMPREGADOS.pdf</a>

                                                    </li>

                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="row margin-top-15">
                        <div class="col-md-3"></div>
                        <!-- Begin MailChimp Signup Form -->
                        <div id="mc_embed_signup" class="col-md-6">
                            <form action="//lzadv.us10.list-manage.com/subscribe/post?u=f3289bfdc6dffd925a26796f0&amp;id=dc7cd4ba1e" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
                                <div id="mc_embed_signup_scroll">
                                    <label for="mce-EMAIL">Cadastre-se em nossa lista de e-mail</label>
                                    <input type="email" value="" name="EMAIL" class="chimp-text" id="mce-EMAIL" placeholder="E-mail" required>
                                    <!-- real people should not fill this in and expect good things - do not remove this or risk form bot signups-->
                                    <div class="hidden">
                                        <input type="text" name="b_f3289bfdc6dffd925a26796f0_dc7cd4ba1e" tabindex="-1" value="">
                                    </div>
                                    <div class="clear">
                                        <input type="submit" value="Enviar" name="subscribe" class="button" id="mc-embedded-subscribe">
                                    </div>
                                </div>
                            </form>
                        </div>


                        <div class="col-md-3"></div>
                    </div>

                </section>

                <section></section>

                <footer id="contact" class="contact container-fluid paddingLR60 wp6">

                    <div class="row">
                        <h2>Contato</h2>
                        <div class="col-md-6">
                            <form id="contact-form" class="contact-form">
                                <label for="name" class="clabel">Nome</label>
                                <input id="name" name="name" type="text" required />
                                <label for="email" class="clabel">E-mail</label>
                                <input type="email" name="email" id="email" required />
                                <label for="message" class="clabel">Mensagem</label>
                                <textarea id="message" name="message"></textarea>
                                <br />

                                <button class="progress-button" data-style="rotate-angle-bottom" data-perspective data-horizontal id="contact-submit">Enviar</button>

                                <p>
                                    <label class="label label-success fontsize18 hidden" id="successlabel">Obrigado, seu email foi enviado com sucesso!</label>

                                </p>
                                <br />
                                <p class="label label-danger padding10 fontsize14 hidden" id="errorlabel" style="font-weight: 400;">
                                    Ops, ocorreu um erro ao enviar o email. Se você preferir pode enviar um email diretamente para <a style="color:white;font-size:14px;" href="mailto:contato@lzadv.com.br">contato@lzadv.com.br</a>.
                                </p>
                            </form>
                        </div>
                        <br />
                        <div class="col-md-6">
                            <hr />
                            <address>
                                Endereço: Rua General Liberato Bitencourt, 1885, SALA 501 - Centro Executivo Imperatriz -  Estreito, Florianópolis/SC.
                            </address>


                            <p>
                                <img height="17" width="12" src="../../img/phone.png"> +55 48 3028-7144 | <img src="../../img/arroba.png" height="17" width="17"> contato@lzadv.com.br
                            </p>
                            <p>
                                <a href="https://goo.gl/maps/II4AT" target="_blank"><img src="../../img/pin.png" height="18" width="14" /> Localização</a>
                            </p>
                            <div class="margin-top-30">
                                <ul class="list-inline">
                                    <li>
                                        <a href="http://twitter.com/LZAdv" target="_blank">
                                            <img src="../../img/twitter.png" alt="Twitter" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.facebook.com/LZAdv" target="_blank">
                                            <img src="../../img/facebook.png" alt="Facebook" />
                                        </a>
                                    </li>
                                    <li>
                                        <a href="http://www.linkedin.com/company/2900624?trk=tyah" target="_blank">
                                            <img src="../../img/linkedin.png" alt="" />
                                        </a>
                                    </li>
                                    <li><a href="http://www.youtube.com/channel/UCp5nUbCGI-s5U0SumBtqQvw?feature=mhee" target="_blank"><img src="../../img/youtube.png" alt="" /></a></li>
                                    <li><a href="http://lzadv.wordpress.com/" target="_blank"><img src="../../img/wordpress.png" alt="" /></a></li>
                                    <li></li>
                                </ul>

                            </div>

                            <div class="margin-top-30">
                                <a href="http://lobo.themisweb.com.br:8080/themis" target="_blank" class="client" id="restricted">
                                    <img src="~/img/client.png" alt="Ícone" /> Espaço do cliente
                                </a>


                                <a href="http://lobo.themisweb.com.br:8080/themismobile" class="client" id="restricted-mobile" hidden target="_blank"><img src="~/img/client.png" alt="Ícone" /> Espaço do cliente </a>
                            </div>

                            <div class="margin-top-30">
                                <a href="http://lobo.themisweb.com.br:8080/themis" target="_blank" data-toggle="modal" data-target="#login-modal" class="client">
                                    <img src="~/img/client.png" alt="Ícone" /> Área restrita
                                </a>
                            </div>
                        </div>
                    </div>


                </footer>


               
            </div>
        </div>
    </div>
    <!-- Login modal for blog -->

    <div id="login-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="login-modal-label" aria-hidden="true">
        <div class="modal-dialog login-modal">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h3 id="login-modal-label">Login</h3>
                </div>
                <div class="modal-body">
                    <form id="login-form">
                        <input type="text" id="username" name="username" />
                        <input type="password" id="password" name="password" />
                        <button class="login-progress-button" data-style="rotate-angle-bottom" data-perspective data-horizontal id="login-submit">Entrar</button>
                    </form>
                </div>
                <div class="modal-footer"></div>
            </div>
        </div>
    </div>

    <!-- Modal -->
    <div id="dir-adu-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DAModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content higher-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h3 id="DAModalLabel">Direito Aduaneiro</h3>
                </div>
                <div class="modal-body">

                    <ul class="page3list">
                        <li>
                            Assessoria jurídica e consultoria permanente;
                        </li>
                        <li>Consultoria na identificação dos temas que afetam a competitividade na importação e exportação;</li>
                        <li>Assessoria na classificação fiscal de mercadorias e em matéria de valoração aduaneira;</li>
                        <li>
                            Orientação jurídica acerca dos procedimentos necessários para habilitação e revisão no RADAR/SISCOMEX;
                        </li>
                        <li>
                            Planejamento tributário nas operações de comércio exterior, incluindo análise, negociação e pedido de concessão de regimes aduaneiros especiais (drawback, admissão temporária, entreposto aduaneiro), benefícios e demais incentivos fiscais;
                        </li>
                        <li>
                            Elaboração de contratos, documentos e registros relacionados a operações de importação e exportação;
                        </li>
                        <li>
                            Assessoria e consultoria em questões relacionadas ao financiamento à exportação, seguro de crédito à exportação, tributação, transporte internacional e compras governamentais;
                        </li>
                        <li>
                            Acompanhamento em procedimentos de fiscalização;
                        </li>
                        <li>
                            Atuação em processos de defesa comercial (processos de antidumping, salvaguardas e medidas compensatórias);
                        </li>
                        <li>
                            Assistência jurídica na área contenciosa aduaneira envolvendo questões relativas ao comércio exterior, tanto na esfera administrativa quanto na judicial;
                        </li>
                        <li>Liberação de mercadorias apreendidas.</li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                </div>
            </div>
        </div>
    </div>

    <div id="dir_maritModal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="DMModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content higher-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h3 id="DMModalLabel">Direito Marítimo</h3>
                </div>
                <div class="modal-body">
                    <ul class="page3list">
                        <li>Consultoria e assessoria jurídica permanente na regulação marítima;</li>
                        <li>Representação e aconselhamento junto a ANTAQ e ao Tribunal Marítimo;</li>
                        <li>Constituição e registro de empresas de navegação, NVOCC, etc.;</li>
                        <li>
                            Registro de armador e embarcações junto ao Registro Especial Brasileiro (REB);
                        </li>
                        <li>
                            Atuação jurídica em disputas judiciais e administrativas em relação ao direito marítimo;
                        </li>
                        <li>Auxílio em casos de arresto preventivo de navios;</li>
                        <li>
                            Elaboração de contratos de transporte, cartas partidas e contratos de fretamento de grandes volumes (COAs);
                        </li>

                        <li>Auxílio na compra e venda e no financiamento de embarcações;</li>
                        <li>Consultoria em convenções e acordos internacionais;</li>
                        <li>Assessoria e consultoria em atos administrativos dos órgãos reguladores;</li>
                        <li>Demurrage de navios;</li>
                        <li>
                            Defesa de demurrage de containers, liberação de containers retidos, avarias, armazenagem
                            de mercadorias etc;
                        </li>
                        <li>Consultoria a armadores internacionais;</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button class="btn" data-dismiss="modal" aria-hidden="true">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dir_empresModal" tabindex="-1" role="dialog" aria-labelledby="DEModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content higher-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title" id="DEModalLabel">Direito Empresarial</h4>
                </div>
                <div class="modal-body">

                    <ul class="page3list">
                        <li>Assessoria jurídica e consultoria permanente;</li>
                        <li>Elaboração, negociação, execução de contratos, estatutos, acordos, regimentos, regulamentos e demais documentos empresariais;</li>
                        <li>Assessoria na instalação de empresas estrangeiras no Brasil;</li>
                        <li>
                            Constituição e estruturação societária;
                        </li>
                        <li>
                            Realização de palestras e seminários in company sobre temas que envolvam as atividades empresariais;

                        </li>
                        <li>Acompanhamento e representação em reuniões, comitês de credores e assembleias; </li>
                        <li>Assessoria jurídica nos processos de fusões, aquisições de empresas, incorporações, cisões, joint venture, transferência de ativos e participações societárias, inclusive envolvendo empresas estrangeiras;</li>
                        <li>Assistência jurídica e acompanhamento processual de empresas nacionais perante jurisdições estrangeiras;</li>
                        <li>Patrocínio e defesa de ações judiciais e processos administrativos acerca da responsabilidade dos sócios;</li>
                        <li>Assistência jurídico-penal a vítimas de fraudes corporativas com a orientação e proposição de medidas legais cabíveis;</li>
                        <li>Assessoria e consultoria jurídica na elaboração, análise e negociação de todos os instrumentos legais voltados às operações imobiliárias e regularização de imóveis;</li>
                        <li>Assistência jurídica relativa à transferência de tecnologia.</li>
                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dir_trabModal" tabindex="-1" role="dialog" aria-labelledby="DTModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content higher-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 class="modal-title" id="DTModalLabel">Direito do Trabalho e Previdenciário</h4>
                </div>
                <div class="modal-body">
                    <p>&nbsp;</p>
                    <ul class="page3list">
                        <li>Assessoria jurídica e consultoria permanente;</li>
                        <li>Realização de seminários in company;</li>
                        <li>Elaboração de pareceres e material para treinamento sobre a correta aplicação da legislação trabalhista e condutas a serem implementadas pela empresa;</li>
                        <li>Confecção de relatórios due diligence;</li>
                        <li>Apuração e avaliação dos riscos inerentes ao processo produtivo, por meio de auditorias in loco, e apresentação de medidas preventivas e soluções;</li>
                        <li>Acompanhamento a procedimentos, fiscalizações e autuações;</li>
                        <li>Propositura de ações trabalhistas individuais ou coletivas, em todas as instâncias;</li>
                        <li>Participação, condução e mediação de negociações e acordos.</li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal fade" id="dir_tributModal" tabindex="-1" role="dialog" aria-labelledby="DTModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content higher-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>
                    <h4 id="DTModalLabel">Direito Tributário</h4>
                </div>
                <div class="modal-body">
                    <ul class="page3list">
                        <li>
                            Assessoria jurídico-tributária permanente;
                        </li>
                        <li>Pareceres jurídicos e realização de seminários sobre a interpretação e aplicação da legislação tributária;</li>
                        <li>
                            Formulação e encaminhamento de consultas aos órgãos da administração pública fiscal;
                        </li>
                        <li>
                            Planejamento tributário;
                        </li>
                        <li>
                            Operações específicas e rotineiras visando à redução lícita da carga tributária;
                        </li>
                        <li>
                            Assessoria em questões relacionadas à obtenção de incentivos fiscais e regimes especiais;
                        </li>
                        <li>
                            Assistência jurídica e acompanhamento em procedimentos fiscalizatórios;

                        </li>
                        <li>
                            Elaboração de defesas e recursos em processos administrativos e judiciais;
                        </li>
                        <li>Patrocínio de ações tributárias e condução de processos na esfera administrativa e judicial questionando a exigência de tributos;</li>

                        <li>Avaliação de passivos tributários por meio da realização de due diligences;</li>
                        <li>
                            Orientação fiscal aos clientes para a sustentação de lançamentos contábeis em caso
                            de fiscalização por parte das autoridades fazendárias;
                        </li>
                        <li>
                            Identificação e auxílio jurídico na recuperação de créditos tributários;
                        </li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal -->
    <div class="modal fade" id="dir_interModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content higher-modal">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                    <h4 class="modal-title" id="DIModalLabel">Direito Internacional</h4>
                </div>
                <div class="modal-body">

                    <ul class="page3list">
                        <li>Assessoria jurídica permanente em Direito Internacional;</li>
                        <li>Arbitragens comerciais e internacionais </li>
                        <li>Arbitragens comerciais internacionais, operações financeiras e de investimentos estrangeiros;</li>
                        <li>
                            Homologação de sentenças estrangeiras e registro de atos realizados no exterior;
                        </li>
                        <li>Orientação jurídica e assistência legal em assuntos de natureza migratória, como pedidos de permanência, deportação, expulsão, extradição e anistia;</li>
                        <li>Assessoria na obtenção de cidadania estrangeira, com a pertinente orientação, análise e preparação de documentos; </li>
                        <li>Representação dos interesses do cliente junto a consulados ou embaixadas.</li>

                    </ul>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Fechar</button>
                </div>
            </div>
        </div>
    </div>


    <div id="end" class="modal fade" tabindex="-1">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Fechar</span></button>

                </div>
                <div class="modal-body text-center">

                    <img src="../../img/end.jpg" alt="" style="margin:0 auto;" />

                </div>
                <div class="modal-footer">

                </div>
            </div>
        </div>
    </div>





    <!-- jQuery (necessary for Bootstrap's JavaScript plugins)-->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.0/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->

    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r; i[r] = i[r] || function () {
                (i[r].q = i[r].q || []).push(arguments)
            }, i[r].l = 1 * new Date(); a = s.createElement(o),
                m = s.getElementsByTagName(o)[0]; a.async = 1; a.src = g;
            m.parentNode.insertBefore(a, m);
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-29270391-1', 'auto');
        ga('send', 'pageview');

    </script>

    

    <script src="~/node_modules/tinymce/tinymce.min.js"></script>


    <!--    <script src="../../js/modernizr.js"></script>-->
    <script src="../../js/modernizr-2.6.2.js"></script>
    <script src="../../js/jquery.validate.min.js"></script>
    <script src="../../js/bootstrap.min.js"></script>
    <script src="../../js/jquery.flexslider.js"></script>
    <script src="../../js/jquery-scrollToTop.js"></script>
    <script src="../../js/classie.js"></script>

    <script src="../../js/velocity.min.js"></script>
    <script src="../../js/velocity.ui.js"></script>

    <script src="../../js/progressButton.js"></script>
    @*<script src="../../js/blog.js"></script>*@

    <script src="../../js/waypoints.min.js"></script>

    <script src="../../js/scripts.js"></script>

    

</body>

</html>